Insight/flow.json
[{"id":"4fd506b0.fbb928","type":"http in","z":"7af3632c.58ef7c","name":"","url":"/reviews","method":"get","swaggerDoc":"","x":162.5,"y":140,"wires":[["bb045111.ba1a7"]]},{"id":"38495c4b.0a2524","type":"http response","z":"7af3632c.58ef7c","name":"","x":649.5,"y":168,"wires":[]},{"id":"bb045111.ba1a7","type":"template","z":"7af3632c.58ef7c","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    {\n        \"asin\": \"B000MVN8HE\", \n        \"helpful\": [\n            2, \n            3\n        ], \n        \"overall\": 2.0, \n        \"reviewText\": \"There's a scene in Misery where the author writes what he thinks his nurse/tormentor wants to read and suffers for his presumption. Her main problem is the fact that he cheated when he explained that his heroine was alive, but there was also the fact that he was second guessing his audience. Instead of writing something that he could be proud of, he wrote something that he thought that the audience wanted. In many ways, the decline in quality of Veronica Mars reflected this issue. In the third season of Veronica Mars, Rob Thomas veered away from the season long arc and the feminist context and chose instead to focus on shorter story arcs and one-off episodes that didn't tie into the arcs. Instead of making the show easy for potential new fans, Thomas disappointed the existing fans.There was also the issue of the heroine graduating from high school. The teenage detective angle worked better when the setting was high school and there was a great metaphor about tying in hard boiled mysteries with high school where no one really is what they appear to be. Buffy recovered from the same setback, but just barely.This movie tries to go in the opposite direction of the third season by making a movie that is solely for the fans but retains that same desperate &#34;LOVE ME&#34; vibe that wrecked the last season. A little fan service is nice. It's cool to see Mac and Wallace again. Veronica working to solve the case and manipulating the police force to do it is fine. It's even nice to see Veronica and Logan fall into their old patterns.Ken Marino has established himself in comedic roles in shows like Party Down and Children's Hospital so why not bring back Vinnie Van Lowe.Yet, a little goes a long way and too much just becomes aggravating. Do we really need to get Piz again? Especially when he is still the nice guy that Veronica basically ignores. Does Madison have to be a one-dimensional villain ten years later? Weevil shows up to AGAIN end up on the wrong side of the law. Krysten Ritter appears and then reminds everyone who she was in season 2. The only strange moment of restraint in the movie was not bringing back Adam Scott as the teacher who had sex with a student even though the movie revolves around Carrie Bishop who accused him of rape in the Mars vs. Mars episode from season 1. When the ten year reunion has a tribute to the dead classmates, you almost expect it to take over the movie since there were a lot of dead high school students on the show.With all the fan service, the director and writer forget to tell a compelling story. It's a two hour episode with references that require the Veronica Mars wiki to fully get. Unfortunately, as you are referring to the Wiki, you are getting spoiled for the rather pedestrian mystery - which should already be obvious since it follows the &#34;really popular cult actor shows up in a minor role&#34; pattern.This isn't a bad movie. It just isn't a very good movie.\", \n        \"reviewTime\": \"05 12, 2014\", \n        \"reviewerID\": \"A3D6KZT0QG6UKB\", \n        \"reviewerName\": \"Tim Lieder \\\"Founder of Dybbuk Press\\\"\", \n        \"summary\": \"Too much fan service\", \n        \"text_length\": 2950, \n        \"unixReviewTime\": 1399852800\n    }, \n    {\n        \"asin\": \"B000ULZLYY\", \n        \"helpful\": [\n            2, \n            3\n        ], \n        \"overall\": 5.0, \n        \"reviewText\": \"Season 1- Monk is a hilarious and an incredibly entertaining series. Three years earlier, Adrian Monk's wife, Trudy was murdered by a car bomb. He has extreme O.C.D. and relies on his Nurse/Assistant Sharona to help him while he solves murders with Captain Leland Stottlemeyer, and Lt. Randy Disher. Throughout the season Monk investigates an assassination attempt on a Mayoral Candidate, goes to an asylum, takes a vacation, deals with an earthquake, helps prove the innocence of Willie Nelson, and much more.Season 2- Monk's 2nd is just as hilarious and entertaining as the previous season, perhaps even better. Adrian Monk is still miserable and continues to help Captain Stottlemeyer and Disher with solving murders, with the help of his Assistant, Sharona. Throughout this season Monk investigates a murder at Trudy's high school, goes to Mexico, help prove the innocence of Sharona's sister during a stage play, figure out why a paperboy is killed for the newspaper, gets married, goes to jail, and finally gets a new lead in the murder of Trudy.Season 3- This is probably my favorite season. During the course of this season, we say good-bye to Sharona Fleming and hello to Natalie Teeger. Monk investigates Warrick Tennyson's role in Trudy's murder, gets fired, helps an organized crime family, becomes a contestant on a game show, gets stuck in traffic, goes to Las Vegas, adopts a kid, and much more.Season 4- Throughout this season Monk returns home on HALLOWEEN, stays in bed because he's sick, gets drunk, goes to a fashion show, figure out who would want to poison Stottlemeyer at the Christmas party, gets amnesia, stop a killer astronaut, and figure out if Trudy Monk had faked her death.Season 5- Throughout this season Monk deals with a garbage strike, loses his eyesight, attends his college reunion, goes to a rock concert, finally meets his dad, goes on the air, and much more.Season 6- Throughout this season, Monk must deal with his crazed fan, help a rapper, teaches Julie Teeger about love, hang out with his psychiatrist's son, shoots Santa Claus, joins a cult, becomes a fugitive, and finally has a new lead in the murder of Trudy.Season 7- Monk is forced to find a new therapist because Dr. Kroger has died. Throughout this season Monk matches wits with a chess player, helps a boxer, gets stuck on a submarine underwater, meets his other brother, fights City Hall, and much more.The Final Season- In the end, all the pieces will fit together. Throughout this season, Monk serves as a bodyguard for his favorite actress, investigate a UFO sighting, goes undercover as a Mafia boss, celebrates his Birthday, receives a surprising visit from Sharona Fleming, and finally solves the murder of his wife, Trudy. It all comes down to this. This season felt a little rushed, but is the perfect ending to the Monk saga. I highly recommend MONK: THE COMPLETE SERIES!!!\", \n        \"reviewTime\": \"11 29, 2011\", \n        \"reviewerID\": \"AER15RIMV8E6D\", \n        \"reviewerName\": \"Pumpkin Man\", \n        \"summary\": \"One of the Best Shows Ever!!!\", \n        \"text_length\": 2887, \n        \"unixReviewTime\": 1322524800\n    }, \n    {\n        \"asin\": \"B000VZUWZW\", \n        \"helpful\": [\n            2, \n            5\n        ], \n        \"overall\": 3.0, \n        \"reviewText\": \"This is obviously a minority opinion here, but I was not especially high on Season One of THE BIG BANG THEORY.  I first have to confess that sitcoms are my dead bottom least favorite genre of show.  I barely make room for HOW I MET YOUR MOTHER, but all in all it is a format that I find pretty dreadful, on the same level of reality and talent shows and crime procedurals.  I hate the limitations of the camera work, the lack of character development, and -- the worst invention in the history of television -- the laugh track.  Moreover, Season One of TBBT did not get the formula quite right.  Much of it was that they hadn't sufficiently found ways to soften Sheldon's character, who can at times be very funny but at other times -- especially in this season -- be excruciatingly irritating.Season Two saw a number of subtle alterations of the show, mainly softening Sheldon, but also increasing the dynamics between the various characters.  But Season One felt slightly off to me.  I can't help but contrast it somewhat with HOW I MET YOUR MOTHER.  The latter almost acknowledges the limitations of the format and constantly stretches it, including a pretty large number of exterior shots on the Warner Brothers lot.  The show also uses their laugh track much more lightly than TBBT.  Both shows suffer from too small of a cast (a common problem with sitcoms).  The  best comedies are not sitcoms, don't have laugh tracks, are not restricted to sound stages, and have large ensemble casts (cf. MODERN FAMILY, 30 ROCK, ARRESTED DEVELOPMENT, PARTY DOWN, early SCRUBS, and THE OFFICE).On the other hand, it is fun seeing a show with lots of nerd references.  Plus, I've actually known a couple of people who were geniuses along the line of Sheldon (though I should say that perhaps my greatest nerd moment was that when I worked in the University of Chicago Bookstore -- before it became a Barnes & Noble -- Chandrasekhar would always do a beeline to me to get help finding books [hey, having a world class genius -- another Nobel Prize winning physicist told me that in his opinion Chandrasekhar would rank as one of the two great twentieth century physicists after Einstein -- acknowledge your competence on books, even as a lowly book clerk, and nod to you as you walk across the campus may be a faint form of achievement, but if you don't understand this you don't understand the guys on TBBT]).  And as a comic book lover it is fun seeing a show with a lot of references to comics (though they seem to be limited entirely to superhero comics, while that makes up only part of my interest in comics).  But all of this was not quite enough to overcome the sitcom limitations, the laugh track, and irritating way that Sheldon was written in Season One.  The good news is that Season Two represented a huge improvement.  It still isn't among my favorite shows (no sitcom ever could be), but it is one that I will continue to DVR after having caught up on DVD.\", \n        \"reviewTime\": \"01 31, 2010\", \n        \"reviewerID\": \"A16QODENBJVUI1\", \n        \"reviewerName\": \"Robert Moore\", \n        \"summary\": \"Not nearly as good as Season Two would be\", \n        \"text_length\": 2961, \n        \"unixReviewTime\": 1264896000\n    }, \n    {\n        \"asin\": \"B000W4WD40\", \n        \"helpful\": [\n            24, \n            33\n        ], \n        \"overall\": 4.0, \n        \"reviewText\": \"Heroes season 2 I think was pretty good considering that they cut it down due to that uselesss writer's strike. I mean the strike was useless, not the writers themselves. It left us with nothing but crappy reality shows through-out most of the year. Heroes season 2 told as good of a story as it could've due to the short time. It does start out a bit better than it ends though. Hiro Nakamura (Masi Oka) still steals the show. Him in the past where he meets his childhood hero Takezo Kensei (an excellent David Anders of Alias) led to some of the more engaging stuff of the season. Parkman (Greg Grunberg) finding out that his father is infact Molly's nightmareman was a little disappointing I admit. However the nightmare scenes were done well enough that I didn't care after awhile. I just wish that their was more of him since he was one of the fresher things about this season. He also was a little creepy.Speaking of creepy, Sylar (Zachary Quinto) is back but powerless. He shows that he's dangerous even without his powers though. He meets a woman with a dangerous power that kills everyone around her when her eyes turn black and bleed. She's a good person but her powers kill people and only her brother's power can control her power if that makes sense. Sylar gets in her head and makes her think that he's a good person that wants to help her. When he's really just fascinated by her power and wants it for himself. Well when he gets his back that is and he thinks Mohinder (Sendhil Ramamurthy) can help him get them back.While Peter (Milo Ventimiglia) mysteriously lost his memory and doesn't remember his brother Nathan or even having powers. He falls for a women who's brother says he can help him remmember. He wants him to use his powers for bad though before he'll help him. While Noah Bennet (Jack Coleman) moves his daughter Claire (Hayden Panettiere) somewhere to protect her from the company. He tells her to stay low. That's easier said than done when a kid there sees that she has powers. It's ok with him though since he can...fly.I was entertained by the season. It has many twists and turns. Does it all lead up to something great though in the end ? No, I can't really say that. Instead of NY being threatened by a bomb it's now threatened by a virus. While instead of Hiro seeing the future and seeing that NY is doomed, Peter does instead. So they could've been more original, it was too familiar to what we already seen in season 1. While Ali Larter has shown she can act as Nikki, she's wasted in this season with little to do.It also bugged me that some new heroes have powers that we have already seen. Such as, one can fly \\\"like Nathan\\\", while another can heal \\\"like Claire\\\". However those were probably my only problems with the season. Other than that they did what they could due to the strike and it could have been worse.\", \n        \"reviewTime\": \"06 30, 2008\", \n        \"reviewerID\": \"A2A6NH6DPE0VXR\", \n        \"reviewerName\": \"Jim \\\"Pimmy\\\"\", \n        \"summary\": \"Not the total waste that some fans call it\", \n        \"text_length\": 2860, \n        \"unixReviewTime\": 1214784000\n    }, \n    {\n        \"asin\": \"B0011NHCYM\", \n        \"helpful\": [\n            53, \n            56\n        ], \n        \"overall\": 5.0, \n        \"reviewText\": \"I really love this show.  It's one of my 'new' favourites.  To be honest, I first started watching it because of Jeffrey Donovan, who plays the lead, Michael Weston.  I used to watch him in The Pretender and Crossing Jordan and loved him, so I began to see what this was like.  It's a great show and I make sure not to miss any episodes.  Speaking of episodes, this is how season 1 plays out;PILOT - Michael Weston, a contract agent for various agencies including the CIA, finds that a burn notice has been issued for him. Stranded in Miami, he takes the case of a caretaker accused of stealing millions from his boss.IDENTITY - Weston is roped into helping his mother's friend get back money she lost in a scam, but Fi and Sam may ruin everything with their bumbling and bickering.FIGHT OR FLIGHT - Michael's landlord, Oleg, is having a problem with one of his waitresses. She hasn't come into work because she witnessed a crime committed by a man who just happens to be a member of a local drug cartel. Michael is (mostly) happy to look into it, as he also continues his investigation into who stuck him with his burn notice.OLD FRIENDS - Michael's brother is back in town, and he involves him in the search for a friend's daughter for less than pure motives. Elsewhere, an agent with a grudge comes after Michael.FAMILY BUSINESS - Michael takes on arms dealers for an airport worker, while Nate obsesses about the car and their dad's will.UNPAID DEBTS - Michael helps out an old SEAL buddy of Sam's who has gotten himself on the wrong side of a smuggler while trying to repossess his boat, and a new agent hits town set on making Michael's life miserable since he won't give up on finding his burn notice.BROKEN RULES - Michael works to rid a community in little Havana of a crime boss, all the while baiting Jason Bly at the risk of his family and friends.WANTED MAN - Fiona decides to try bounty-hunting, but then convinces Michael to help prove the man innocent.HARD BARGAIN - A slightly dim house sitter's fianc&eacute;e has been kidnapped, and Sam guilts Michael into a rescue while he's negotiating with a D.C. bureaucrat to stop the burn notice.FALSE FLAG - Michael makes plans to leave Miami, but has to do one last job - locate a woman's missing son - so he can get a new identity.LOOSE ENDS PART 1 - Phillip Cowan has arrived in Miami, but Michael has to put him off when a job involving heroin and blackmail goes south.LOOSE ENDS PART 2 - With Cowan's bosses now tracking him, Michael must protect his family and rescue Sam all before his own capture if he doesn't move fast enough.To elaborate just that little bit more, a 'burn notice' is when a spy is cut off, no jobs, nothing.  Jeffrey Donovan is great in this and so is Gabrielle Anwar and the writing for this series is sharp.  I was hooked from the first episode and I'm sure you'll be too.  It's brilliant and I highly recommend it.\", \n        \"reviewTime\": \"04 18, 2008\", \n        \"reviewerID\": \"A24ZFFRQ4MG3XL\", \n        \"reviewerName\": \"Little Miss Cutey\", \n        \"summary\": \"Fantastic ;-)\", \n        \"text_length\": 2905, \n        \"unixReviewTime\": 1208476800\n    }, \n    {\n        \"asin\": \"B0012F6C72\", \n        \"helpful\": [\n            34, \n            40\n        ], \n        \"overall\": 4.0, \n        \"reviewText\": \"From the opening scenes of FIERCE PEOPLE (an interplay of tribal customs as photographed by the anthropologist father of the young narrator Finn Earl, demonstrating why this South American tribe of Ishkanani is so fierce) the direction of the film is nebulous: are we watching a dark comedy about comparing life in the New York streets to uncivilized peoples, or is this a message film of a more serious intent?  But as the story develops this fine line between entertainment and philosophical impact becomes increasingly clear.  Griffin Dunne's direction of Dirk Wittenborn's adaptation of his novel may be a bit careless at times as it strays from rational plot development, but in the end there is a strong enough final impact to patch up the holes he created.Our narrator Finn Earl (Anton Yelchin) lives with his coke-addicted masseuse/sexually obsessed mother Liz (Diane Lane) in New York, waiting for the summer when he is to join his anthropologist father on a field trip to South America (a father he knows only from letters and videos), when a drug bust abruptly changes their lives: one of Liz's wealthy clients Ogden Osborne (Donald Sutherland) rescues the down and out family and moves them to his ten acre estate, the epitome of wealth and power. In exchange for being Osborne's private masseuse, Liz and Finn can live in the mansion with the 'filthy rich' Osbornes - daughter Mrs. Langley (Elizabeth Perkins) and grandchildren Bryce (Chris Evans) and Maya (Kristen Stewart). Osborne and his physician lead Liz on the drying out path and Finn bonds with Osborne and his grandchildren, and despite the disparity in poor versus wealthy, the living situation works - for a while.  Incidents occur to alter feelings and Finn is attacked and raped by a masked assailant, a turning point for the film and Finn's view of the Osborne family.  Osborne reveals his past to Finn and together they manage to discover the truth about Finn's troubling incident - and also about the fierce disease of the wealthy class.The film uses many clips of tribal activity during the film, drawing some disturbing parallels for some of the more challenging scenes. For this viewer that works well, but when the director elects to place tribal individuals in full regalia within the context of the Osborne estate, the concept feel contrived, as though the audience has to be forced to 'get it'. The various subplots between maid Jilly (Paz de la Huerta) and Finn and the introduction of an obese retarded chalk artist Whitney (Branden Williams) push the credibility edge of emphasizing the line between the wealthy and the 'lower class', but the performances by Sutherland, Lane, and Yelchin are strong enough to make us forgive the film's lapses.  Not a great film but one with a lot of worthy ideas splashed around on the screen of a project that often feels lost in its struggle for direction.  Grady Harp, February 08\", \n        \"reviewTime\": \"02 10, 2008\", \n        \"reviewerID\": \"A328S9RN3U5M68\", \n        \"reviewerName\": \"Grady Harp\", \n        \"summary\": \"'You think you're changing a tribe, until the tribe changes you'\", \n        \"text_length\": 2908, \n        \"unixReviewTime\": 1202601600\n    }, \n    {\n        \"asin\": \"B00150OTCE\", \n        \"helpful\": [\n            1, \n            2\n        ], \n        \"overall\": 5.0, \n        \"reviewText\": \"\\\"The Orphanage\\\" is a rare horror film whose strong emotions and believable motives make it a tear jerker as well as a supernatural thriller. Laura (Belen Rueda) spent half of her childhood in an orphanage on Spain's coast, before she was adopted. As an adult, she returns to the enormous and beautiful home, long since fallen into disuse, with her physician husband Carlos (Fernando Cayo) and 7-year-old son Simon (Roger Princep). The couple intend to re-open the establishment as a home for disabled children. But Simon's temperament is becoming belligerent, and he is fast accumulating imaginary friends. Then he disappears without a trace.This is a ghost story, but, in spite of its supernatural elements, \\\"The Orphanage\\\" has a rigorous logic. I appreciated that, as horror films so often get sloppy with their narratives. The story is propelled forward by two strong emotions: fear of whatever lurks in the house and Laura's fierce maternal love. Laura takes the audience with her on frantic searches for clues, which give the film an action movie pace and emotional immediacy between the thoughtful lulls. At the halfway point, I thought the film lost its pacing and went off the rails until I realized that the film -and the audience's perception of it- pivots at that point. Then I was impressed by the well-conceived structure.Director J.A. Bayona, writer Sergio G. Sanchez, cinematographer Oscar Faura, and editor Elena Ruiz, amazingly, are all working on their first feature film. Bayona harkens back to the best years of Hollywood genre filmmaking by creating the orphanage completely on a soundstage. It's a stunning set and a wonderful character in the movie. They go easy on the score and try to tell the story visually as much as possible. Belen Rueda makes us feel her anguish, desperation, and fear at the loss of her son. \\\"The Orphanage\\\" is top-notch gothic horror, comparable to the best psychological thriller/horror films that have come out of Asia in recent years. In Spanish with optional subtitles.The DVD (New Line 2008): \\\"When Laura Grew Up: Constructing the Orphanage\\\" (16 min) interviews director, producers, writer, cast, et al about characters and themes, acting with children, the set, digital effects, and the score. \\\"Tomas' Secret Room: The Filmmakers\\\" (10 min) is a documentary in 5 parts about various aspects of production: the crew, the score, the orphanage, digitally effects, the title sequence. \\\"Horror in the Unknown: Make-up Effects\\\" (9 min) interviews the make-up artists about Tomas, Laura's leg, and Begnina's make-up. In \\\"Rehearsal Studio: Cast Auditions and Table Read\\\" (3 min), the director talks about working with the actors. There are 6 Still Galleries of 198 sketches and photos. \\\"Marketing Campaign\\\" includes 2 Spanish trailers, 2 US trailers, and 12 posters. Subtitles for the film are available in English and Spanish.\", \n        \"reviewTime\": \"05 2, 2008\", \n        \"reviewerID\": \"A3UPYGJKZ0XTU4\", \n        \"reviewerName\": \"mirasreviews\", \n        \"summary\": \"Smart, Credible, and Affecting. A First-Rate Gothic Horror Film.\", \n        \"text_length\": 2873, \n        \"unixReviewTime\": 1209686400\n    }, \n    {\n        \"asin\": \"B001ENOB8Y\", \n        \"helpful\": [\n            4, \n            4\n        ], \n        \"overall\": 4.0, \n        \"reviewText\": \"Prison Break returns for its fourth and final season, a season filled with the kind of high-octane action and wonderful characters that this show is known for. Prison Break is one of the best shows FOX has aired in a long time, and it was sad to see it go.The season opens with Michael (Wentworth Miller) tracking down Mahone (William Fichtner), Whistler (Chris Vance), and Gretchen (Jodi Lyn O'Keefe) to avenge the death of his beloved Sara (Sarah Wayne Callies). However, once he finds Gretchen, the truth isn't what it originally seemed. Partial secrets are revealed, and a mysterious new player appears.Soon after, Michael and Lincoln (Dominic Purcell) are pursued by a Homeland Security agent, who wants to blackmail them into doing his dirty work for him. Michael and Lincoln agree to the agent's demands. The majority of the season then tells about the intricate operation they work on for the agent, and Michael and Lincoln's attempt to avoid being returned to prison.The show slowly grows to a thrilling climax, where many familiar Prison Break faces return. However, Michael's story doesn't end as perfectly as many fans would have liked.Every performance this season is amazing, as it is in the previous seasons. The characters leap off the screen with their lush, realistic feel. Every actor in this show completely embodies their character.  Miller is a hard-edged, driven actor who draws you into the character's world. His chemistry with Purcell is amazing. The two characters show strong bonds of brotherhood and help get another through the crazy happenings in their lives.This DVD set includes a decent collection of extras, such as two featurettes on the series and its ending and commentary soundtracks for some of the episodes. While I really enjoyed the commentary tracks that exist, it would be far better to have them on all the episodes. I know that there are 22 episodes here, but surely there could be more commentary for the final season? It is also a little surprising that there aren't any deleted or extended scenes from the season. Really, that's part of the reason for getting your favorite TV shows on DVD -- to see more of what was originally filmed for each episode.The biggest issues I have with this release is actually the packaging. I know that sounds a little picky, but the transparent, thin plastic seems cheap and tacky to me -- not to mention it doesn't seem like it will protect the discs very well in the long term. Of course, this new packaging does make the set considerably thinner and lighter, but I somewhat miss the look and feel of the older packaging styles (call me old-fashioned).Season four of Prison Break didn't make every fan happy -- in fact, some fans thought that the series should have ended after the third season. I think that this season was a good ending to the series, filled with edge-of-your-seat intensity, and amazing performances.  I definitely recommend it.\", \n        \"reviewTime\": \"06 26, 2009\", \n        \"reviewerID\": \"ARNAOSKQZMM2J\", \n        \"reviewerName\": \"Amanda\", \n        \"summary\": \"Great ending to a great show!\", \n        \"text_length\": 2933, \n        \"unixReviewTime\": 1245974400\n    }, \n    {\n        \"asin\": \"B001N4PPWK\", \n        \"helpful\": [\n            0, \n            0\n        ], \n        \"overall\": 5.0, \n        \"reviewText\": \"When I got my parents addicted this show after watching the first episode, they asked how they didn't know this show had been around since '08. Good question. Now that they know of it, they love it. And so does my brother. Oh, yeah... SO DID I! If anyone were to ask me what the show's about, three words suffice- cons conning cons.The main backstory of this show may upset parents who have lost an only child since the leader of this crackteam lost his only child to a hospital operation that wouldn't have worked. The leader knew a procedure that would work, yet his boss didn't go for it, despite the man's loyal work. So, to cope with his losses (child, wife, job, home, etc.), he becomes an alcoholic, and is offered his first job considering what he was when he had a job- an insurance investigator/stealing stolen artifacts. The job should be easy enough, with a gathered crack team of people that normally work alone (a brutal brawler, social actress, cat burglar, and computer hacker), they work together to steal something to bring it back to the owner, and get paid. Done deal. Oh, wait, things are never that simple. Teams gets back together again, and gets revenge. Idea- work together to bring down people who constantly gyp others who are trying to live decent lives and manipulate big-time cons with good social reputations to 'fess up their mess-up, and give people a reason to keep hoping for a better future. And what cons they go after.Manipulating an already-manipulated court session; giving a disabled vet the $ he needs stolen from him for rehab to work again; finding a kidnapped orphan to bring him back (and what a shocking twist that one had halfway through); helping a church keep a reputation and reveal the Judas in the social area; and revert an already botched bank robbery. Oh, don't worry, there's others, and all of them have wit, sarcasm, little moments that make them all the better, and, at times, very evocatively emotional scenes. Towards the end are some very heavy twists dealing with a few characters that dropped my jaw more than once.But it's the last con that did more than become icing on the cake. It was... how did the Klingons say it? Revenge is best served cold? Well, in Nathan Ford's case, the two part finale was a masterpiece all its own and rivaled the technique of so many heist movies that seem to try too hard. This had everything I love in a good drama. The enemies think they know how to outwit the thieves, only for a trip to get tripped and get tripped theirselves. So, I can see why they would leave the best far last. And I couldn't help but cheer with the cast in the special feature that reveals the show being renewed, or laugh with Beth in her own little spoof about her in-show character, or even laugh at the asininity of the deleted scenes. Now to get the 2nd season and continute the laughs and heartfelt emotion.\", \n        \"reviewTime\": \"08 8, 2012\", \n        \"reviewerID\": \"A1EA7VXIUZBYIK\", \n        \"reviewerName\": \"Jason Brown \\\"Dark-edged Apologist\\\"\", \n        \"summary\": \"Smoooooth criminals\", \n        \"text_length\": 2887, \n        \"unixReviewTime\": 1344384000\n    }, \n    {\n        \"asin\": \"B001SE07JG\", \n        \"helpful\": [\n            3, \n            11\n        ], \n        \"overall\": 3.0, \n        \"reviewText\": \"I watched this show every Friday night when it aired in 2009.  While the concept of the series was clever and there were enough interesting things going on to keep me tuning in, there were time when I had to shake my head.  Sometimes I was falling asleep, but other times it was because I couldn't suspend my disbelief (and trust me, I can suspend some disbelief if necessary).But the suspension of disbelief required by this show is staggering.The Good:1) Dushku does a good job.  Not bad on the eyes, either.2) Patton Oswalt guest stars in an episode.3) Joss Whedon (love that \\\"Firefly\\\" and \\\"Serenity,\\\" not to mention \\\"Toy Story\\\" and \\\"Titan A.E.\\\") is associated with the series.4) The crazy Alpha doll adds a cunning creepiness factor to the show.The Bad:1) Well-paying clients can find the Dollhouse, but the FBI can't.2) The young \\\"genius\\\" on the show has copies of various experts to download into the dolls, but how he gets such a broad range of \\\"brainscans\\\" is a mystery (at least to me).3) Joss Whedon (don't like \\\"Buffy\\\" and never saw \\\"Angel\\\") is associated with the series (see \\\"3\\\" under \\\"The Good\\\").  Could he not have fleshed out this show a bit more?  Come on, Josh!  Technical holes you could drive a bus through, my man.4) An English schoolmarm runs the whole operation.  Rather leggy, or calvy, rather.  Not that there's anything at all wrong or unrealistic with that, mind you.5) Back to the young \\\"genius,\\\" Topher Brink.  (This reminds me of a \\\"Stargate SG-1\\\" episode (called \\\"200\\\") where the SG-1 team shoots down a Hollywood concept in which their team consists of all young characters.)  They could have stuck a 45-year-old person in there instead rather than some 25-year-old twerp who is not very convincing.6) The whole \\\"let's have all the dolls--girls and boys--shower in the middle of the office\\\" for all to see part is, from a business standpoint, foolish and unrealistic for a variety of reasons (and I don't believe I should even have to explain that statement).7) Security at the Dollhouse is rather weak, especially considering all those bad-a$$ed handlers they've got running around there.The Ugly:1) This is a skewed albeit lesser version of \\\"Alias,\\\" which certainly had its own problems, but at least there was a strained family connection to drive some interest.  There's nothing like that here other than the \\\"my life stinks right now so make me into a 'doll' for a few years so the big mystery in the show can be why did I do this?\\\" bit.2) Tahmoh Penikett wouldn't have slept with that neighbor of his.  She's cute, but obviously out of his league.\\\"Dollhouse\\\" is an interesting concept that probably should have stayed on the storyboard a little longer before being brought to market.  It's like a popular new software package, good but not great, perhaps needing a few patches or, maybe, a total rebuild.  Worth a look, but don't take it too seriously.\", \n        \"reviewTime\": \"08 3, 2009\", \n        \"reviewerID\": \"A3T6HX48F66512\", \n        \"reviewerName\": \"Fry Boy\", \n        \"summary\": \"Dullhouse or, perhaps, Totally Unrealistic House; 2.5 stars\", \n        \"text_length\": 2890, \n        \"unixReviewTime\": 1249257600\n    }, \n    {\n        \"asin\": \"B0021HAG5E\", \n        \"helpful\": [\n            0, \n            0\n        ], \n        \"overall\": 3.0, \n        \"reviewText\": \"Mutant Chronicles(released Oct/08)stars Ron Perlman as Brother Samuel,John Malkovich as Constantine and Thomas Jane as Sgt.Hunter.While watching it,I could not help but see the resemblance to a video game,which came out a year later,called Necromancer,which had the same kind of plot and setting.The plot finds Earth cordoned off into global pockets by big corporations in the year 2707.Each area is fighting the other for supremacy over resources.The soldiers and battles look like WW1,involving alot of trench warfare.The armaments however are retro-futuristic which betray its`older look.A back story explains that 10,000 years before an alien machine landed on earth and tried to devolve humanity into something of its own making;mutants.Mankind then got the upper hand and buried the machine far below ground and sealed it up.Well,the on going battles above have finally broken the seal and soldiers are becoming mutants once more.They are attacking any side they can.However the non-mutant soldiers believe their opponents are responsible for the horrors being slowly unleashed.By the time they figure it out Earth is in great danger.An ancient order dedicated to preserving the memory of the machine and how to defeat it if it should ever pose a threat to mankind again,comes to the fore.Earth turns its hopes to them in order to save itself.The leader of the order,Brother Samuel,leads a small band of men and women to the bowels of the earth,through ancient buildings and shafts.During the entire time they must battle mutants constantly.Once they reach the machine,those that are left dwindle down even more until there is only one man left standing.He unlocks the secret which sends the machine flying back into space.The final fadeout shows the ship in vast space with Mars to the right.Most of humanity has left Earth to colonize Mars,so will the ship fly into unknown regions or follow humanity to become a terrible threat again?The plot does become involved but not too much so as to leave one scratching ones head.This is an effects driven movie,instead of preferably being the other way around.Ron Perlman does well as the Irish Brother Samuel.Malkovich doesn't have a big part but he makes the most of what he has.Thomas Jane takes most of the lead here as a tough sergeant who has been through hell and back in the wars,and ends up following the team Brother Samuel leads.Overall,I found the pace can be slow at times,so the constant stop/starting can get tedious.Other than that there is just not enough to really put this movie head and shoulders above average.It is not really bad but it is not really good either.Technically speaking the film is clear and crisp in its w/s a/r of 1:85:1.Other than the trailer,that is all you get.All in all just a fair to middling film about an alien machine rising once more to create a mutant race of all mankind.The acting is good,and the plot interesting,but not enough to render it anything but average.\", \n        \"reviewTime\": \"08 31, 2012\", \n        \"reviewerID\": \"A1Z1NQJUJQ5CRO\", \n        \"reviewerName\": \"Robert Badgley\", \n        \"summary\": \"An average futuristic film?\", \n        \"text_length\": 2965, \n        \"unixReviewTime\": 1346371200\n    }, \n    {\n        \"asin\": \"B002EVGVBA\", \n        \"helpful\": [\n            3, \n            4\n        ], \n        \"overall\": 3.0, \n        \"reviewText\": \"The main reason I rented this was because of Lauren Graham. I have been a fan since following her through all the seasons of The Gilmore Girls, a show that is close to my heart, mainly due to Graham's brilliant performance. Sadly, her movie roles thus far have been rather lackluster, partly because of the secondary roles she has been playing, as in \\\"Evan Almighty\\\" and \\\"Flash of Genius\\\". In \\\"Answer Man\\\", Graham gets to shine a bit more, but I still felt her character deserved more exposure.\\\"Answer Man\\\" reminds me of \\\"As Good As It Gets\\\", only it never quite gets a chance to achieve the brilliance of the latter. Like Jack Nicholson's OCD character, Jeff Daniels plays a quirky and eccentric character. He portrays Arlen Faber, an author whose one book \\\"Me and God\\\" created a sensation and became a bestseller, cornering 10% of the \\\"God\\\" market. Yet 20 years later, Arlen feels he has not really learned anything nor gained any great insights, so he shuts himself away in his Philadelphia house downtown, living a reclusive life, shunning all his fan mail & interviews, much to the chagrin of his literary agent. Feeling frustrated with all the self-help books that fail to lift his spirits nor grant him any useful perspectives on life, Arlen carts the books away to a used bookstore run by a recovering young alcoholic Kris (Lou Taylor Pucci in a wonderfully nuanced performance), only to be refused (as Kris doesn't have any money to buy Arlen's books). To cut a long story short - Arlen hurts his back and seeks help at a chiropractor's which is owned and operated by single mom Elizabeth (Lauren Graham). The pair start to bond but the relationship is complicated by Arlen's eccentricities and inability to reach out to people who need him and Liz's own personal problems.Meanwhile Kris the recovering alcoholic begins to show up at Arlen's home seeking advice in return for taking some of Arlen's books off his hands.The various story arcs do intersect quite well, but the characters lack sufficient development - so Arlen is seeking answers...but why exactly has he allowed 20 years to pass by, and his whole romance with Graham almost seems contrived at times. Graham's personal problems are alluded to but never fully explored, and her interactions with her seven-year-old son seem unbearably awkward and even a tad fake at times. Pucci's character was the most likable in this movie, in that he elicits the viewer's sympathy and makes one want to root for him in his battle against the bottle, yet even his role seems to lack true depth.\\\"Answer Man\\\" is interesting and engaged my attention, but it is also quite forgettable. I would certainly recommend it as a rental especially for those who like Lauren Graham, Jeff Daniels, and Lou Taylor Pucci, but it doesn't compare to some real gems like \\\"As Good As It Gets\\\".\", \n        \"reviewTime\": \"11 30, 2009\", \n        \"reviewerID\": \"A1POFVVXUZR3IQ\", \n        \"reviewerName\": \"Z Hayes\", \n        \"summary\": \"3.5* - not quite \\\"As Good As It Gets\\\" but a pleasant diversion\", \n        \"text_length\": 2831, \n        \"unixReviewTime\": 1259539200\n    }, \n    {\n        \"asin\": \"B002JAU1X0\", \n        \"helpful\": [\n            2, \n            2\n        ], \n        \"overall\": 5.0, \n        \"reviewText\": \"It's a good episode. I didn't have any problem with the ending. However, I do find it disappointing when networks will command what should be aired and what shouldn't. Especially when networks choose to air worse shows then the good shows that want to be on. Stupider still, why bother cutting off other shows when you can just add shows to the network. I mean, how did we get more channels in the first place? We expanded. So, I don't see the problem. The only problem I see is that no one is really doing anything to expand and allow new things.With shows getting less and less imaginative, I think preventing Heroes from continuing was a horrible choice. Whilst people may like a lot of the new series airing today, it's sad that better series' will not get to air because people won't let them.I loved this series, very creative, very realistic. I wish the creators had been allowed to go on, as I know people did.Maybe in the years to come, hopefully, something can change and allow more series' to air then already are. Putting a restriction on the imagination is a bad thing, not a good thing. If all your interest is money, then look around, good series' make money. Preventing them is to prevent the good things to come off of those things your preventing.Anyways, I know this is off topic. Sorry about that.I hope, in the future, this problem can go away.I loved this series. I loved how the heroes managed to work in order to prevent and do things in a way that kept us interested. The Samuel element was a nice touch; showing the art of manipulation. Also, getting to know Noah Bennett was a nice touch as we gradually got to know him as the series went along; he was always the man of mystery. Everything went well. However, I'll admit, Clair's final act, in this series, was an interesting element. She decided to override her father's judgement in order to try to show the world that there were people that were different than them, possessing special abilities. This, when you look at it, can make you look back to the time when the government had soldiers tracking down the \\\"Specials,\\\" as I'll call them. It makes you think hard on Clair's judgement.That's probably the hard part about writing a story, you have to analyze and analyze in order to think of the best thing to fit what should be, in a good story. This element, that I just listed (Clair's decision), fit Clair pretty well as she's been one to go outside what people wanted of her for a while. She's not usually the one to completely follow orders. So, this made her decision able to fit the circumstances. Really, I can't read Clair, the best, but I think the final scene went well.Anyway, the series was great. I know people have been getting on the things surrounding Sylar, but honestly, I think all the things that happened to him in this season really went well. It all fit very well, and I actually enjoyed seeing the new Sylar. The reactions of people around him, and him, went well.So, great series.\", \n        \"reviewTime\": \"09 11, 2012\", \n        \"reviewerID\": \"A1FEITLECMZ6EW\", \n        \"reviewerName\": \"Jeffrey Thomas\", \n        \"summary\": \"Good Episode\", \n        \"text_length\": 2988, \n        \"unixReviewTime\": 1347321600\n    }, \n    {\n        \"asin\": \"B002KGEORM\", \n        \"helpful\": [\n            2, \n            16\n        ], \n        \"overall\": 1.0, \n        \"reviewText\": \"This show is terrible, shoddy acting, unbelievable storylines, the montages with awful cover songs, etc etc.1. The supposed \\\"good guys\\\" are gun brokers to gangs and murderers in their own right, I could care less about them. That's one of the main things that makes a series good is that you actually care about the characters but these guys are such scumbags all around it's actually painful to watch. I'm glad they lost overall at the end of this season. I was hoping for a better second season but this was worse than the first one and that's saying a lot. I won't be wasting time on this series anymore. Glad I only borrowed it.2. It's a sad thing to see the cops in the back pockets of these gangsters. It's embarrassing to see the Chief of Police following them around and even taking part in their crimes, a little todie. He even rats out his own \\\"brothers\\\" the FBI and ATF to this gang, endangering not just the informers lives but the lives of fellow law enforcement officers, awful. This is supposedly to protect some town from the real world? As long as they kill outside of city limits its OK with the police? I'd be afraid to live in a town like this, who knows what's next with the corrupt police and this biker gang. The cops even look the other way when someone is about to be killed? Even if Sobel is a bad guy what self respecting police officer would do that? The process of the law is one thing among others that makes us a society but this show seems to think it's all OK if one set of bad guys kills another or you're \\\"protecting\\\" a town, ugh! Murder is wrong no matter who does it and who it is done to.3. The constant song montages are so cheesy and overdone, ugh!! The covers are awful as well. Just a filler so everybody can LOOK so deep in emotion and to be pitied, etc. Weak minded people love this stuff.4. Trying to make criminals into family men and righteous vigilantes etc is so terrible. I was sickened by all the hugs and love yous between criminal killers I wanted to gag! This show is so embarrassing to watch. I'm just sorry I gave this POS another seasons worth of my time.5. A doctor turns into a helper for a criminal gang and even assaults and threatens hospital staff when she's reprimanded for it? Please. She needs to take that stick out of her a.. as well I've never seen a character so constipated before!The shallowness of it is so obvious, the characters are wooden(Clay) or miscast(Jacks). Genna, mother Sons, is such a lowlife it's another layer of BS that makes me dislike this show so much.If you want a realistic and well done drama you need to go to the premium channels. Boardwalk Empire, Game of Thrones, etc. For a decent but not great regular cable drama I like Justified. But this is just tripe.It's sad to see so many weak minded lovers of this tripe, good maybe it keeps you busy watching the tube so you don't do more damage to society by your idiocy.\", \n        \"reviewTime\": \"06 5, 2012\", \n        \"reviewerID\": \"AHNYRCBNPYS9P\", \n        \"reviewerName\": \"AeroEngineer\", \n        \"summary\": \"Awful, I don't know where to begin. Montages, storylines, acting, moral equavalency, etc.\", \n        \"text_length\": 2914, \n        \"unixReviewTime\": 1338854400\n    }, \n    {\n        \"asin\": \"B002Y0TGOU\", \n        \"helpful\": [\n            3, \n            7\n        ], \n        \"overall\": 4.0, \n        \"reviewText\": \"First off, let me say I thought this film was good, full of action & excitement, but having watched all the shows (except Voyager) & all 10 past films, I really was disappointed that the writers & filmakers chose an alternate timeline, Vulcan's destruction & the death of Spock's mother makes some \\\"TOS\\\" episodes & the films \\\"Star Trek I, III, & IV\\\" no longer exist, this is quite a disappointment, & the fact that the show \\\"Enterprise\\\" has been constantly critisized for certain inconsistencies & no one is making that same argument here based on current reviews leads me to think that those critical of \\\"Enterprise\\\" never really watched it or they just didn't like Scott Bakula's Captain Archer, anyway despite this, the film is well done, Karl Urban really captures Dr.McCoy's mannerisms, no suprise there, he did the same thing playing a younger version of Tommy Lee Jones' Woodrow Call for \\\"Commanche Moon\\\"(\\\"Lonesome Dove's\\\" prequel), the guys playing the younger Spock & Sulu were really good picks & very true to the characters, Sulu weilded a sword in the TOS episode \\\"Naked Now\\\" & the woman playing Uhura was also a good pick, Bruce Greenwood was very commanding a Pike, much like the original character, however I am still unsure about Chris Pine as Kirk, sure he captured some of Shatner's mannerisms, but I am not sure he really looks the part, I had a hard time believing he could evolve into William Shatner, the guy playing his dad at the beginning looked more like a young Shatner than Pine did, & would have been a better choice I think, Simon Pegg was half & half on Scotty, he had the mannerism, but was bit goofy, unlike the original Scotty, Ben Cross was good as Spock's father Sarek, as was Winona Ryder as his mother Amanda, they really reminded me of the older counterparts in the 80's films, & finally Eric Bana is again underused here just as he was in \\\"Troy\\\" who's Romulan echoes that of the Picard's clone in \\\"Nemesis\\\", in fact it seems they couldn't come up with nothing but a retread of \\\"Nemesis'\\\" villian here, this is what happens when you put a non-fan in the director's chair like J.J. Abrams, who is a good director, but him being a non-fan really shows here, again you would think that Paramount would have learned from all the complaints fans had about Rick Berman & Brannon Braga on \\\"Enterprise\\\",but then again do stuido cheifs really care about this franchise? NO!!! just how much it will make & what name they can attach to it, this new film is an attempt to capture new fans & give older fans the finger in the name of the almighty dollar, however when you watch ST:NG's \\\"Yesterday's Enterprise\\\", there are parallels somewhat in regard to an alternate timeline, & \\\"Deep Space Nine\\\" was guilty of doing episodes like this too, as did \\\"Enterprise\\\" with the \\\"Mirror Darkly\\\" episodes, which is how I see this film, an alternate timeline pure & simple, can't hate this one since the shows did it too.\", \n        \"reviewTime\": \"05 9, 2009\", \n        \"reviewerID\": \"A28B7IJR80M8KE\", \n        \"reviewerName\": \"Michael Pettinato \\\"mike2922\\\"\", \n        \"summary\": \"And people complained about \\\"Enterprise\\\" not staying faithful to the TOS!!\", \n        \"text_length\": 2936, \n        \"unixReviewTime\": 1241827200\n    }, \n    {\n        \"asin\": \"B00337ZGIS\", \n        \"helpful\": [\n            188, \n            198\n        ], \n        \"overall\": 5.0, \n        \"reviewText\": \"You know, I don't normally put my review titles in all caps. But what can I say? This show is... well, BRILLIANT! I've always thought that there are far, far too many five star reviews here on amazon. But if there ever was a show that genuinely deserved a rave, this is it.Archer is a wonderfully absurdist frolic for strictly adult audiences. Fundamentally this show is a giant spoof of 1960s spy thrillers; a spoof made for decidedly 21st century sensibilities. It's the show Get Smart would have been had all the characters been perpetually high on crystal meth.In fact, the characters on Archer are all selfish, petty, and utterly and completely venal: the three great ingredients from which comedy is made. They seem to think and act more like deranged adolescents than grown-ups. Deranged adolescents with access to firearms. Add all this together and you get some idea of the flavor of the show. Archer is very much in the spirit of the original Williams Street adult swim cartoons, but is never merely derivative of them. Which of course is exactly what you'd expect, given that this show is produced by Adam Reed, whose previous producing and directing credits include both Sealab 2021 and Frisky Dingo. Indeed, Reed's voice credits go all the way back to the original Space Ghost Coast to Coast.But while a similar sense of humor can be found throughout, Archer definitely has a flair all of its own. Visually it has kind of a pseudo-realist \\\"ligne claire\\\" (clear line) style that matches perfectly with the creatively anachronistic world the characters inhabit. Cell phones and other contemporary technologies may abound, but jet-age fashions still prevail, and the KGB and the Soviet Union remain major adversaries.But the first thing long time hard core animation fans will notice is that voice of H. Jon Benjamin brings its own uniquely laconic comic genius to the title role of \\\"Archer\\\" himself. Many of us remember Benjamin best as Coach from Home Movies. Others may recognize his voice from various bit parts in Family Guy and the Venture Bros.. But wherever you know him from, I for one am overjoyed that a suitable vehicle has finally been found for this great talent.Better yet, Benjamin is complemented by scarcely lesser talents such as Aisha Tyler, a standup comedian who plays Lana Kane, another top operative at the same spy agency; and Jessica Walter, who plays the head of the agency - who also just happens to be Archer's mother. However, I should stress that this rather unusual combination of relationships is never reduced to mere sit-com hijinx. Archer is the kind of show were things get genuinely disturbing. In fact, this is one of those rare shows where the entire cast is incredibly strong - and backed up by an equally strong writing team, too.What more can I say? See it!Theo.\", \n        \"reviewTime\": \"10 29, 2010\", \n        \"reviewerID\": \"A2VUD4SPJO4V33\", \n        \"reviewerName\": \"Theo\", \n        \"summary\": \"BRILLIANT!\", \n        \"text_length\": 2815, \n        \"unixReviewTime\": 1288310400\n    }, \n    {\n        \"asin\": \"B0036D8M9E\", \n        \"helpful\": [\n            35, \n            37\n        ], \n        \"overall\": 5.0, \n        \"reviewText\": \"REMASTERED set 5 is 8 Poirots. Belgian with `little gray cell' out-sleuths `The Yard.' David Suchet made Poirot famous. Philip Jackson plays Chief Inspector Japp in last 5 episodes. Hastings (Hugh Fraser) Poirot's right-hand is available for all but one episode. Miss Lemon (Pauline Moran) in 6 episodes. Agatha Christie stories always fantastic, but Suchet makes the film adaptations soar to new heights. Humor, scenic bliss, and costume lust rival the script writing. Poirot stories began a 1920s era. Trivially noteworthy, the fictional character was granted a 1975 NYTimes front page obit.Odd that some are yet trying to sell (one reviewer promote) the older set, not remastered, for more $, up to $1000. New Series 5 is a value to new buyers or those who want the crisper image, Blu-ray level target. My vote's with newer, better, & America (even though it is Brit TV).SUBTITLE option available for all episodes. Aired first in 1993. 407 min. and now in the original UK order. Guest stars aplenty, as normal.-_-_-The Adventure of the Egyptian TombDr. Ames is Rolf Saxon (Saving Pvt Ryan). We've all heard of the Egyptian Pharaoh tomb curses. True? Ghastly-ghostly deaths. Poirot will reveal, and give you Egypt scenery as a plus.-_-_-The UnderdogNazis, rubber, and miniatures all combine for a murder to solve. Auctions have losers, & but one winner.-_-_-Yellow IrisA 2nd chance. Poirot failed to solve a crime, can he do it the second time around? A London reenactment of an Argentine dinner of death. Suicide or murder? Hubby (David Troughton) wants to know.-_-_-The Case of the Missing Will1926. Poirot has more than a crime to solve, he being the dead man's confident in estate planning changes. But someone beats the odds & will change. Who? Daughter (Beth Goddard)? Japp is back for the first time in this set.-_-_-The Adventure of the Italian NoblemanMiss Lemon has a beau (Leonard Preston) and the Italian Embassy as a body--no they don't; yes they do. Blackmail, death and lies. Good thing Christie has a Poirot.-_-_-The Chocolate BoxAh Belgian chocolate and scenery. And murder, no? Poirot takes up another cold case. See Anna Chancellor (4 Weddings) staring as well as Geoffrey Whitehead (Reggie Perrin, Little Dorrit). And an unusual Poirot conclusion.-_-_-Dead Man's MirrorMirror, mirror on the wall, who's most dysfunctional of all? Can't be the dead guy. Poirot is there, he'll figure it out. The wife (Zena Walker -Number 10), Cousin Hugo (Jeremy Northam -Wish Me Luck, Emma), Lingard (Fiona Walker -I, Claudius), or another ???-_-_-Jewel Robbery at the Grand MetropolitanBrighton resort hotel rest, except for Len; Who's Lucky Len? A maid (Hermione Norris -The Pale Horse, Cold Feet), always the maids fault for a robbery. Can Poirot save her? See Sorcha Cusack (Jane Eyre) too.`\", \n        \"reviewTime\": \"05 8, 2012\", \n        \"reviewerID\": \"AO1Z0TQWCRGL4\", \n        \"reviewerName\": \"Harold Wolf \\\"Doc\\\"\", \n        \"summary\": \"If you don't already own, or want this upgraded image, Poirot is 6 star.\", \n        \"text_length\": 2801, \n        \"unixReviewTime\": 1336435200\n    }\n]","x":379.5,"y":172,"wires":[["38495c4b.0a2524"]]},{"id":"724697f3.cb7d78","type":"template","z":"7af3632c.58ef7c","name":"html","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Personality Insights</title>\n    <!--TITLE-->\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n\n    <link rel=\"stylesheet\" type=\"text/css\"\n          href=\"https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud.css\">\n    <!--CSS-->\n\n    <script type=\"application/javascript\"\n            src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n    <script type=\"application/javascript\"\n            src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    <script type=\"application/javascript\"\n            src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js\"></script>\n    <script type=\"text/javascript\"\n            src=\"https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud-1.0.4.js\"></script>\n\n    <script src=\"https://d3js.org/d3.v3.min.js\"></script>\n    <script src=\"https://abi-nodered.mybluemix.net/d3tip\"></script>\n    <!--JS-->\n    <style>\n        header {\n            background-color: #1d1e1f;\n            color: white;\n            min-height: 200px;\n            padding-top: 50px;\n        }\n\n        .node {\n            cursor: pointer;\n        }\n\n        .node circle {\n            fill: #fff;\n            stroke: steelblue;\n            stroke-width: 1.5px;\n        }\n\n        .node text {\n            font: 10px sans-serif;\n        }\n\n        .link {\n            fill: none;\n            stroke: #ccc;\n            stroke-width: 1.5px;\n        }\n        \n        .d3-tip {\n            line-height: 1;\n            font-weight: bold;\n            padding: 12px;\n            background: rgba(0, 0, 0, 0.8);\n            color: #fff;\n            border-radius: 2px;\n        }\n            \n        /* Creates a small triangle extender for the tooltip */\n        .d3-tip:after {\n            box-sizing: border-box;\n            display: inline;\n            font-size: 10px;\n            width: 100%;\n            line-height: 1;\n            color: rgba(0, 0, 0, 0.8);\n            content: \"\\25BC\";\n            position: absolute;\n            text-align: center;\n        }\n            \n            /* Style northward tooltips differently */\n        .d3-tip.n:after {\n            margin: -1px 0 0 0;\n            top: 100%;\n            left: 0;\n        }\n    </style>\n    <script>\n        var d3Function = function d3Function(final_result) {\n            $('#collapse').empty()\n            var margin = {top: 20, right: 120, bottom: 20, left: 120},\n                width = 960 - margin.right - margin.left,\n                height = 800 - margin.top - margin.bottom;\n\n            var i = 0,\n                duration = 750,\n                root;\n\n            var tree = d3.layout.tree()\n                .size([height, width]);\n\n            var diagonal = d3.svg.diagonal()\n                .projection(function (d) {\n                    return [d.y, d.x];\n                });\n                \n            var tip = d3.tip()\n              .attr('class', 'd3-tip')\n              .offset([-10, 0])\n              .html(function(d) {\n                return \"<strong>Percentile:</strong> <span style='color:red'>\" + d.percentile + \"</span>\";\n              })\n  \n            var svg = d3.select(\"#collapse\").append(\"svg\")\n                .attr(\"width\", width + margin.right + margin.left)\n                .attr(\"height\", height + margin.top + margin.bottom)\n                .append(\"g\")\n                .attr(\"transform\", \"translate(\" + margin.left + \",\" + margin.top + \")\");\n\n            svg.call(tip);\n            \n            root = final_result;\n            root.x0 = height / 2;\n            root.y0 = 0;\n\n            function collapse(d) {\n                if (d.children) {\n                    d._children = d.children;\n                    d._children.forEach(collapse);\n                    d.children = null;\n                }\n            }\n\n            root.children.forEach(collapse);\n            update(root);\n            d3.select(self.frameElement).style(\"height\", \"800px\");\n\n            function update(source) {\n\n                // Compute the new tree layout.\n                var nodes = tree.nodes(root).reverse(),\n                    links = tree.links(nodes);\n\n                // Normalize for fixed-depth.\n                nodes.forEach(function (d) {\n                    d.y = d.depth * 180;\n                });\n\n                // Update the nodes\n                var node = svg.selectAll(\"g.node\")\n                    .data(nodes, function (d) {\n                        return d.id || (d.id = ++i);\n                    });\n\n                // Enter any new nodes at the parent's previous position.\n                var nodeEnter = node.enter().append(\"g\")\n                    .attr(\"class\", \"node\")\n                    .attr(\"transform\", function (d) {\n                        return \"translate(\" + source.y0 + \",\" + source.x0 + \")\";\n                    })\n                    .on(\"click\", click);\n\n                nodeEnter.append(\"circle\")\n                    .attr(\"r\", 1e-6)\n                    .style(\"fill\", function (d) {\n                        return d._children ? \"lightsteelblue\" : \"#fff\";\n                    })\n                .on('mouseover', tip.show)\n                .on('mouseout', tip.hide);\n\n                nodeEnter.append(\"text\")\n                    .attr(\"x\", function (d) {\n                        return d.children || d._children ? -10 : 10;\n                    })\n                    .attr(\"dy\", \".35em\")\n                    .attr(\"text-anchor\", function (d) {\n                        return d.children || d._children ? \"end\" : \"start\";\n                    })\n                    .text(function (d) {\n                        return d.name;\n                    })\n                    .style(\"fill-opacity\", 1e-6);\n\n                // Transition nodes to their new position.\n                var nodeUpdate = node.transition()\n                    .duration(duration)\n                    .attr(\"transform\", function (d) {\n                        return \"translate(\" + d.y + \",\" + d.x + \")\";\n                    });\n\n                nodeUpdate.select(\"circle\")\n                    .attr(\"r\", 4.5)\n                    .style(\"fill\", function (d) {\n                        return d._children ? \"lightsteelblue\" : \"#fff\";\n                    });\n\n                nodeUpdate.select(\"text\")\n                    .style(\"fill-opacity\", 1);\n\n                // Transition exiting nodes to the parent's new position.\n                var nodeExit = node.exit().transition()\n                    .duration(duration)\n                    .attr(\"transform\", function (d) {\n                        return \"translate(\" + source.y + \",\" + source.x + \")\";\n                    })\n                    .remove();\n\n                nodeExit.select(\"circle\")\n                    .attr(\"r\", 1e-6);\n\n                nodeExit.select(\"text\")\n                    .style(\"fill-opacity\", 1e-6);\n\n                // Update the links\n                var link = svg.selectAll(\"path.link\")\n                    .data(links, function (d) {\n                        return d.target.id;\n                    });\n\n                // Enter any new links at the parent's previous position.\n                link.enter().insert(\"path\", \"g\")\n                    .attr(\"class\", \"link\")\n                    .attr(\"d\", function (d) {\n                        var o = {x: source.x0, y: source.y0};\n                        return diagonal({source: o, target: o});\n                    });\n\n                // Transition links to their new position.\n                link.transition()\n                    .duration(duration)\n                    .attr(\"d\", diagonal);\n\n                // Transition exiting nodes to the parent's new position.\n                link.exit().transition()\n                    .duration(duration)\n                    .attr(\"d\", function (d) {\n                        var o = {x: source.x, y: source.y};\n                        return diagonal({source: o, target: o});\n                    })\n                    .remove();\n\n                // Stash the old positions for transition.\n                nodes.forEach(function (d) {\n                    d.x0 = d.x;\n                    d.y0 = d.y;\n                });\n            }\n\n\n            // Toggle children on click.\n            function click(d) {\n                if (d.children) {\n                    d._children = d.children;\n                    d.children = null;\n                } else {\n                    d.children = d._children;\n                    d._children = null;\n                }\n                update(d);\n            }\n        };\n    </script>\n    <script>\n        var app = angular.module('myInsights', []);\n        app.controller(\n            'personalityCtrl',\n            [\n                '$scope', '$http', '$location',\n                function ($scope, $http, $location) {\n                    var host = $location.host();\n                    $scope.getValue = function (item) {\n                        $(\"#review\").css(\"display\", \"block\");\n                        $scope.review = item.reviewText;\n                        var review = item.reviewText;\n                        $http.post(\"https://\"+host+\"/personality\", {review: review}).success(function (data) {\n                            result = {};\n                            result.name = item.reviewerName;\n                            result.percentile = \"NA\";\n                            result.children = [];\n                            var personality = {};\n                            personality.name = \"Personality\";\n                            personality.children = data.personality;\n                            personality.percentile = \"NA\";\n                            result.children.push(personality);\n                            var needs = {};\n                            needs.name = \"Needs\";\n                            needs.children = data.needs;\n                            needs.percentile = \"NA\";\n                            result.children.push(needs);\n                            var values = {};\n                            values.name = \"Values\";\n                            values.children = data.values;\n                            values.percentile = \"NA\";\n                            result.children.push(values);\n                            d3Function(result);\n                            callCloud(data);\n                        });\n                    };\n\n\n                    $http.get(\"https://\"+host+\"/reviews\").success(function (data) {\n                        $scope.list = data;\n                    });\n\n                    var callCloud = function (data) {\n                        $http.post(\"https://\"+host+\"/wordcloud\", {wordcloud: data}).success(function (result) {\n                            personality_words = result.personality;\n                            values_words = result.needs;\n                            needs_words = result.values;\n                            setCloud(personality_words, values_words, needs_words);\n                        });\n\n                    };\n\n                    var setCloud = function (personality_words, values_words, needs_words) {\n                        $(\".wordcloud\").css(\"display\", \"block\");\n                        $(\"#personality\").empty();\n                        $(\"#values\").empty();\n                        $(\"#needs\").empty();\n                        $(\"#personality\").jQCloud(personality_words);\n                        $(\"#values\").jQCloud(values_words);\n                        $(\"#needs\").jQCloud(needs_words);\n                    };\n\n                }]);\n    </script>\n\n\n</head>\n<body ng-app=\"myInsights\">\n<div ng-controller=\"personalityCtrl\">\n    <header class=\"text-center\">\n        <h1>Personality Insights</h1>\n        <h2>Insights on Amazon Instant Video Reviews</h2>\n    </header>\n    <div class=\"container\" style=\"margin-left: 30px; margin-right: 30px;\">\n        <div class=\"row\">\n            <div class=\"col-md-12\">\n                    <div class=\"dropdown\">\n                        <button class=\"btn btn-block btn-primary dropdown-toggle\" type=\"button\" data-toggle=\"dropdown\">Reviewer's\n                            Name\n                            <span class=\"caret\"></span></button>\n                        <ul class=\"dropdown-menu\" style=\"width: 100%\">\n                            <li ng-repeat=\"item in list\" ng-click=\"getValue(item)\"><a href=\"#\">{{ item.reviewerName\n                                }}</a></li>\n                        </ul>\n                    </div>\n            </div>\n            <div class=\"col-md-12\">\n                    <div id=\"review\" style=\"display: none;\" class=\"text-justify\">\n                        <h2>Current Review Text</h2>\n                        <p style=\"height: 100px; overflow: auto;\">{{ review }}</p>\n                    </div>\n                </div>\n            <div class=\"col-md-12 wordcloud\" style=\"margin-left: -20px; display: none; margin-top: 20px;\">\n                <div class=\"col-md-4 text-center\">\n                    <h2 style=\"margin-bottom: -30px;\">Personality</h2>\n                    <div id=\"personality\" style=\"width: 420px; height: 350px;\"></div>\n                </div>\n                <div class=\"col-md-4 text-center\">\n                    <h2 style=\"margin-bottom: -30px;\">Values</h2>\n                    <div id=\"values\" style=\"width: 420px; height: 350px;\"></div>\n                </div>\n                <div class=\"col-md-4 text-center\">\n                    <h2 style=\"margin-bottom: -30px;\">Needs</h2>\n                    <div id=\"needs\" style=\"width: 420px; height: 350px;\"></div>\n                </div>\n            </div>\n            <div class=\"col-md-12\" id=\"collapse\" style=\"margin-top: -100px;\">\n            </div>\n        </div>\n    </div>\n</div>\n</body>\n</html>","x":376.5,"y":453,"wires":[["c60e7363.f4578"]]},{"id":"735b19a.56bb8e8","type":"http in","z":"7af3632c.58ef7c","name":"GET REQUEST","url":"/insights","method":"get","swaggerDoc":"","x":180.5,"y":456,"wires":[["724697f3.cb7d78"]]},{"id":"c60e7363.f4578","type":"http response","z":"7af3632c.58ef7c","name":"","x":600.5,"y":431,"wires":[]},{"id":"64501890.dd40d8","type":"http in","z":"7af3632c.58ef7c","name":"","url":"/personality","method":"post","swaggerDoc":"","x":144.5,"y":221,"wires":[["f1c50481.ded048"]]},{"id":"1a9e4ff6.040dd","type":"watson-personality-insights-v3","z":"7af3632c.58ef7c","name":"","inputlang":"en","outputlang":"en","rawscores":false,"consumption":false,"x":572.5,"y":214,"wires":[["a3bfa453.cfa2e8"]]},{"id":"f1c50481.ded048","type":"change","z":"7af3632c.58ef7c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.review","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":338.5,"y":252,"wires":[["1a9e4ff6.040dd"]]},{"id":"a3bfa453.cfa2e8","type":"change","z":"7af3632c.58ef7c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"insights","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":818,"y":255,"wires":[["98aeb61b.409248"]]},{"id":"98aeb61b.409248","type":"http response","z":"7af3632c.58ef7c","name":"","x":989.5,"y":188,"wires":[]},{"id":"bca2d16c.b993e","type":"http in","z":"7af3632c.58ef7c","name":"","url":"/wordcloud","method":"post","swaggerDoc":"","x":140.5,"y":311,"wires":[["9754ea53.d73c48"]]},{"id":"5ad526c5.2c01f8","type":"http in","z":"7af3632c.58ef7c","name":"","url":"/d3tip","method":"get","swaggerDoc":"","x":169.5,"y":384,"wires":[["51ae41d3.1e957"]]},{"id":"51ae41d3.1e957","type":"http request","z":"7af3632c.58ef7c","name":"","method":"GET","ret":"txt","url":"http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js","tls":"","x":404.5,"y":391,"wires":[["668a3e8b.670f1"]]},{"id":"d392f6f.4042808","type":"http response","z":"7af3632c.58ef7c","name":"","x":732.5,"y":304,"wires":[]},{"id":"668a3e8b.670f1","type":"http response","z":"7af3632c.58ef7c","name":"","x":698.5,"y":346,"wires":[]},{"id":"9754ea53.d73c48","type":"change","z":"7af3632c.58ef7c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wordcloud","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":357.5,"y":326,"wires":[["8be013a8.8b03d"]]},{"id":"8be013a8.8b03d","type":"function","z":"7af3632c.58ef7c","name":"","func":"var data = msg.payload\nvar personality_words = []\nvar personality = data.personality;\nfor (var index in personality){\n\tvar new_word = {}\n\tvar index_name = personality[index].name\n\tvar index_percentile = personality[index].percentile\n\tvar index_children = personality[index].children\n\tnew_word['text'] = index_name\n\tnew_word['weight'] = index_percentile\n\tpersonality_words.push(new_word)\n\tfor (var child in index_children) {\n\t\tvar new_word = {}\n\t\tvar index_name = index_children[child].name\n\t\tvar index_percentile = index_children[child].percentile\n\t\tnew_word['text'] = index_name\n\t\tnew_word['weight'] = index_percentile\n\t\tpersonality_words.push(new_word)\n\t}\n}\n\nvar needs_words = []\nvar needs = data.needs;\nfor (var index in needs){\n\tvar new_word = {}\n\tvar index_name = needs[index].name\n\tvar index_percentile = needs[index].percentile\n\tnew_word['text'] = index_name\n\tnew_word['weight'] = index_percentile\n\tneeds_words.push(new_word)\n}\n\nvar values_words = []\nvar values = data.values;\nfor (var index in values){\n\tvar new_word = {}\n\tvar index_name = values[index].name\n\tvar index_percentile = values[index].percentile\n\tnew_word['text'] = index_name\n\tnew_word['weight'] = index_percentile\n\tvalues_words.push(new_word)\n}\nvar formatted_word = {};\nformatted_word.personality = personality_words;\nformatted_word.needs = needs_words;\nformatted_word.values = values_words;\nmsg.payload = formatted_word;\nreturn msg;","outputs":1,"noerr":0,"x":553.5,"y":300,"wires":[["d392f6f.4042808"]]}]
